# CMake build directory
/build/
/src/build/

# makepkg directories and artifacts
/pkg/
*.pkg.tar.zst
*.pkg.tar.xz

# Old object/binary files (just in case)
*.o
*.a
/archpaper

# Local test configuration
config
